<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="{{ '/assets/favicon.png' | relative_url }}">
        <link rel="canonical" href="{{ page.url | absolute_url }}">
        <link rel="stylesheet" href="/assets/style.css" type="text/css" title="regular">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="keywords" content="Hacking, Cybersecurity, CTF, Vulns, VMs">
        <meta name="description" content="{{ site.description }}" />
        <meta name="author" content="Cyber Sith Academy team" />
        <meta property="og:title" content="Cyber Sith Academy">
        <meta property="og:site_name" content="Cyber Sith Academy">
        <meta property="og:url" content="{{ page.url | absolute_url }}">
        <meta property="og:description" content="{{ site.description }}">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{{ '/assets/logoSM.png' | absolute_url }}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Cyber Sith Academy">
        <meta name="twitter:description" content="{{ site.description }}">
        <meta name="twitter:image" content="{{ '/assets/logoSM.png' | absolute_url }}">
        <title>
            {% if page.url != '/' %}
            {% if page.layout == 'bin' %}
            {{ page.title | downcase }}
            {% else %}
            {{ page.title }}
            {% endif %}
            |
            {% endif %}
            {{ site.title }}
        </title>
        <script async defer src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </head>
    <body>
        {{ content }}
        <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
        <script>
        kofiWidgetOverlay.draw('cyber sith academy', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Support me',
        'floating-chat.donateButton.background-color': '#d9534f',
        'floating-chat.donateButton.text-color': '#fff'
        });
        </script>
    </body>
</html>
